@import '~antd/dist/antd.css';

/*
It looks like all these settings have no effect, because the antd.css
over-rules them somehow
*/

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

/*
This is needed to propagate the 100% height through the root div:
https://stackoverflow.com/q/41259244/1804173
*/
#root {
  height: 100%;
}
